<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register Staff Workrec</title>
</head>
<body>
<h2>Register Staff Workrec:</h2>
<br/><br/>
<form th:action="@{/staffworkrec/register}" th:object="${staffworkrec}" method="post">
    <div class="employeeidInput">
        EmployeeId:<input type="text" th:field="*{employeeid}"  name="employeeid"/><br/>
        <span class="validation" th:if="${#fields.hasErrors('employeeid')}"
              th:errors="*{employeeid}">Error!</span>
    </div>

    <div class="hridInput">
        HrId:<input type="text" th:field="*{hrid}"  name="hrid"/><br/>
        <span class="validation" th:if="${#fields.hasErrors('hrid')}"
              th:errors="*{hrid}">Error!</span>
    </div>

    <div class="work_dateInput">
        WorkDate:<input type="text" th:field="*{workdate}"  name="workdate"/><br/>
        <span class="validation" th:if="${#fields.hasErrors('workdate')}"
              th:errors="*{workdate}">Error!</span>
    </div>

    <div class="record_dateInput">
        RecordDate:<input type="text" th:field="*{recorddate}"  name="recorddate"/><br/>
        <span class="validation" th:if="${#fields.hasErrors('recorddate')}"
              th:errors="*{recorddate}">Error!</span>
    </div>

    <div class="worktype_dateInput">
        WorkType:<input type="text" th:field="*{worktype}"  name="worktype"/><br/>
        <span class="validation" th:if="${#fields.hasErrors('worktype')}"
              th:errors="*{worktype}">Error!</span>
    </div>

    <div class="work_conditionsInput">
        WorkConditions:<input type="text" th:field="*{workconditions}"  name="workconditions"/><br/>
        <span class="validation" th:if="${#fields.hasErrors('workconditions')}"
              th:errors="*{workconditions}">Error!</span>
    </div>

    <div class="evaluate">
        Evaluation:<input type="text" th:field="*{evaluate}"  name="evaluate"/><br/>
        <span class="validation" th:if="${#fields.hasErrors('evaluate')}"
              th:errors="*{evaluate}">Error!</span>
    </div>

    <input type="submit" value="Confirm"/>
</form>
<p>
    <a th:href="@{/test}">Back to transfer station.</a>
</p>

</body>
</html>