<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Management of Staffworkrec</title>
</head>
<body>
<h1>All Staffworkrec are listed below:</h1>
<div>
    <table border="1">
        <tr>
            <td>EmployeeId</td> <td>HrId</td> <td>WorkType</td> <td>WorkConditions</td>
            <td>Evaluation</td> <td>WorkDate</td> <td>RecordDate</td>
            <td>Operations</td>
        </tr>
        <tr  th:each="staffworkrec:${allStaffworkrecs}">
            <td th:text="${staffworkrec.employeeid}">employeeid</td>
            <td th:text="${staffworkrec.hrid}">hrid</td>
            <td th:text="${staffworkrec.worktype}">worktype</td>
            <td th:text="${staffworkrec.workconditions}">workconditions</td>
            <td th:text="${staffworkrec.evaluate}">evaluate</td>
            <td th:text="${staffworkrec.workdate}">workdate</td>
            <td th:text="${staffworkrec.recorddate}">recorddate</td>
            <td>
                <table border="3">
                    <tr><td><a th:href="@{/test}">Update</a></td></tr>
                    <tr><td><a th:href="@{/test}">Delete</a></td></tr>
                </table>
            </td>

        </tr>
    </table>
</div>

<a th:href="@{/test}">Back to transfer station.</a>
</body>
</html>