<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Success Login!</h1>
    Welcome! <span sec:authentication="name">Name</span>
    <p>
        <a th:href="@{/employee/register}">Register Employees</a>
    </p>

    <p>
        <a th:href="@{/employee/manage}">Manage Employees</a>
    </p>

    <p>
        <a th:href="@{/employee/manage/mine}">Manage My Employees</a>
    </p>


    <p>
        <a th:href="@{/hr/manage}">Manage hr</a>
    </p>



    <br/>
    <br/>
    <br/>
    <p>
        <a th:href="@{/index}">new main page frame</a>
    </p>
    <p>
        <a th:href="@{/back}"> back </a>
    </p>
    <div>
        <form method="post" th:action="@{/logout}">
            <input type="submit" value="Log out~!"/>
        </form>
    </div>
</body>
</html>